body{
    background: url("../images/bgGYm.jpeg.jpg")
        no-repeat center center fixed;
    background-size: cover
   
}

div{
    background-color: lightblue;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    border-radius: 25px;
    opacity: 0.8;
}

button{
 background-color: black;   
 padding: 20px;
 color: antiquewhite;
font-size: 2em;
border-radius: 10px;
font-family: 'Hind Siliguri', sans-serif;
}

h1{
    font-size: 4em;
    font-family: 'Hind Siliguri', sans-serif;
}

p{
    font-size: 1.8em;
    font-family: 'Hind Siliguri', sans-serif;
}
i{
    font-size: 4em;
}