body{
    margin: 0;
    padding: 0;
    background-color: #758283;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a {
    display: inline block;
    color: aqua;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
}

li a:hover{
    background-color: darkred;
}

li a:active{
    background-color: bisque;
}


