body{
    height: 100%;
    font-family: 'Klee One', cursiv60
}

video{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    z-index: 1;
}

a{
    display: inline;
    padding: 10px;
    border: solid 4px rgb(255,60,100);
    text-decoration: none;
    font-size: 24px;
    color: rgb(255,60,100);

}

div{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 700px;
    margin-top: 120px;
    text-align: center;

}

h1{
    margin-bottom: 25px;
    color: rgb(70,70,70);
    font-size: 45px;
    background-color: #d1b4b8;
    opacity: 0.7;
}

p{
    color: whitesmoke;
    background-color: grey;
    opacity: 0.7;
}